*{padding: 0;
margin: 0;
box-sizing: border-box;
}
/*Configuração geral de interface*/
.interface{
     max-width: 1350px;
    padding: 0 4%;
    margin: 0 auto;
}

.container-menu{
    background-image: linear-gradient(to right, black, rgb(65, 12, 65));
    width: 100%;
    height: 150px;
    padding: 0px;
    display: flex;
    position: fixed;
    align-items: center;
    font-size: 16pt;
    
}


body{
    background-color: white;
}



h1{
    text-align: center;
    color: rgb(118, 5, 184);
    margin-top: 120px;

}

    

h2{
    background-image: linear-gradient(to right, black, rgb(65, 12, 65));
    /*background-color: rgba(250, 250, 250, 0.986);*/
    color: white;
    padding: 10px;
    width: 800px;
    height: 200px;
    text-align: justify;
    margin-top: 30px;
    border-radius: 10px;
}


.lista-nav{
    overflow: hidden;
    
}
.lista-nav .item-nav{
    
    float: left;
}
.lista-nav .item-nav .link-nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}



.link-nav:hover{
    border-bottom: 4px solid #f0eff0;

}

.container-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
    margin-top: 15em;
    margin-bottom: 15em;
}

.folder-supermercado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
    margin-top: 15em;
    margin-bottom: 15em;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
    margin-top: 40px;
}
.item-galeria{
    width: 480px;
    height: 625px;
    border: 5px  solid black;
    box-shadow: 5px 5px 5px black;
    margin: 0;
    padding: 0;
}
.item-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main{
    margin-top: 30px;
}

/*.foto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
   

}
.item-foto{
    width: 300px;
    height: 300px;
    border: 10px solid black;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.item-foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/
.sobre{
    display: flex;
    justify-content:center;
    margin-top: 150px;
}

.contato{
    display: flex;
    margin-top: 15em;
    margin-bottom: 15em;
}
 .contato a{
    color: rgb(218, 4, 4);
 }
 
 /*configuração da seção sobre mim*/

 .sessao-sobremim{
   padding:  80px 0;
 }
 
 .sessao-sobremim > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
 }
 h1.titulo1{
    font-size: 4rem;
    color: black;
 }
 h1.titulo1 span{
    color: rgb(118, 5, 184);
 }
 .sessao-sobremim .interface .texto-sobre p{
    text-align: left;
    font-size: 2rem;
 }
 .minha-foto{
    width: 500px;
    height: 600px;
    display: flex;
    box-shadow: 5px 5px 5px black;
    border: 2px  solid black;
 }
 /*Estilo do Contato/Formulario*/
section.contato{
    padding: 80px 0;
}
.contato > .interface{
    display: flex;
    justify-content: space-between;
}
.contato .txt-contato p{
    color: black;
    font-size: 2rem;
    display: flex;
    gap: 16px;
    margin: 16px 0;
}
.contato .txt-contato a{
    color: black;
    font-size: 2rem;
     display: flex;
    gap: 16px;
    margin: 16px 0;
}
i{
    color: rgb(118, 5, 184);
}

.contato form{
    width: 50%;
}
.contato form input{
    width: 100%;
    padding: 16px 10px;
    border: 2px solid rgb(118, 5, 184);
    outline: none;
    margin-bottom: 2px;
    color: black;
    background: transparent;
    font-size: 1.2rem;
    border-radius: 10px;
}
.contato form .tel-serv select{
    width: 100%;
    padding: 16px 10px;
    border: 2px solid rgb(118, 5, 184);
    border-radius: 10px;
    margin-bottom: 2px;
    font-size: 1.2rem;
}
 textarea{
    width: 100%;
    height: 150px;
    padding: 16px 10px;
    border: 2px solid rgb(118, 5, 184);
    border-radius: 10px;
    margin-bottom: 2px;
    font-size: 1.2rem;
    resize: none;
} 
.btn-enviar{
    cursor: pointer;
}
.btn-enviar :hover{
    background-image: linear-gradient(to right, black, rgb(65, 12, 65));
    color: white;
    transition: 2s;
} .contato .txt-contato > h1{
    margin: 0;
}
